@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #272d49;
$secondary: #d733ff;
$lightColor: #fff;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $primary;
  color: $lightColor;
}

.logo {
  @apply table mx-auto text-center my-10;
}

.multifarm-table {
  @apply w-4/5 text-sm text-left text-gray-500 dark:text-gray-400 mb-10;

  > thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;

    > tr {
      > th {
        @apply px-6 py-3;
      }
    }
  }

  > tbody {
    > tr {
      @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600;
      > td {
        @apply relative px-6 py-4;

        &:first-child {
          @apply font-medium text-gray-900 dark:text-white whitespace-nowrap;
        }

        > a {
          @apply block;
        }
      }
    }
  }
}
